---
import '../styles/global.css';
const pageTitle = "Mi sitio";
---

<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
	  </head>
	  <body>
		<a href="/">Inicio</a>
    	<a href="/about/">Sobre mi</a>
    	<a href="/blog/">Blog</a>
		<h1>{pageTitle}<span class="text-gradient">Astro</span></h1>
		
	
	</body>   
</html> 
		


